@font-face {
font-family: 'Akzidenz-Grotesk Pro Bold';
src: url('/fonts/AkzidenzGroteskPro-Bold.woff') format('woff');

font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Akzidenz-Grotesk Pro Ext XBold';
src: url('../fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff');

font-weight: 800;
font-style: normal;
}

@font-face {
font-family: 'Akzidenz-Grotesk Pro Regular';
src: url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Akzidenz-Grotesk Pro Medium';
src: url('../AkzidenzGroteskPro-Md.woff') format('woff');
font-weight: medium;
font-style: medium;
}


*, *::before, *::after {
	box-sizing: inherit;
}

.container {
	/*position: relative;*/
	/*overflow-x: hidden;*/

	width: 1280px;
	padding: 0 40px;
	margin-left: auto;
	margin-right: auto;
}

.visual-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

/*html {
	min-width: 1280px;
	overflow-x: hidden;
}*/


body {
	position: relative;

	min-width: 1280px;

	box-sizing: border-box;

	font-family: 'Akzidenz-Grotesk Pro', 'Arial', sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2pt;

	background-color: #000;
	/*overflow-x: hidden;*/
}

/*--------------HEAD----------------*/

.main-header ul {
	display: flex;
	flex-direction: column;	

	margin: 0;
	padding: 0;
	min-height: 600px;

	list-style: none;
}

.inner-bottom-head {
	display: flex;
	justify-content: center;

	min-width: 687px;
}

.inner-bottom-head span {
	min-width: 790px;

	font-family: 'Akzidenz-Grotesk Pro Ext XBold';
	font-weight: 800;
	font-style: normal;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	letter-spacing: 15pt;

}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 83px;
	margin-bottom: 207px;
}

.inner-header-top {
	margin-bottom: 0px;

	letter-spacing: 1px;
}

.main-header a {
	text-transform: lowercase;
	text-decoration: none;
	color: #fff;
}

.logo img {
	position: relative;
	bottom: 0.5px;

	margin-right: 1px;
}

.main-header form {
	position: relative;
}

.main-header input {
	margin-right: 14px;

	color: #fff;
	
	border: none;
	background-color: #000;
}

.main-header input:focus {
	border-bottom: 1px solid #fff;
	outline: none;
}

.main-header label::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: -1px;
	
	width: 14px;
	height: 13px;

	background: transparent url("../img/search.png") no-repeat center;
	cursor: pointer;
}

.main-logo {
	display: flex;
	justify-content: center;
}

.main-logo img {
	position: relative;
	left: 15px;
    top: 2px;
}

.main-logo a {
	font: inherit;
	font-size: 48px;
	line-height: 46px;
}

.logo-text {
	font-weight: bold;
	letter-spacing: 1pt;
}


.inner-bottom-head {
	display: flex;
	justify-content: center;

	min-width: 687px;
}



.inner-bottom-head h1 {
	position: relative;
	top: -38px;

	min-width: 790px;
	margin-top: 0;

	font-family: 'Akzidenz-Grotesk Pro Ext XBold';
	font-weight: 800;
	font-style: normal;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	letter-spacing: 15pt;
}

.inner-header-top::after {
	position: absolute;
	content: "";
	right: 0px;
	top: 125px;

	width: 294px;
	height: 455px;
	z-index: 1;


	background-color: transparent;
	background-image: url("../img/visanty-right.png");
}


/*----------MAIN-----------------*/

.guide {
	display: flex;
	justify-content: center;

	margin: 0 auto;

	padding-top: 90px;
	padding-bottom: 100px;
}

.guide-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	
	width: 715px;
	min-height: 507px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 234px;

	text-align: center;
}

.card:hover {
	background-color: #1b1b1b;
}

.card p {
	margin-top: 30px;
}

.card a {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 230px;
	padding: 25px 5px;
	padding-bottom: 0;

	font-family: 'Akzidenz-Grotesk Pro Medium', sans-serif;
	/*font-size: 12px;*/
	/*font-weight: 700;*/
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.card a::before {
	content: "";

	width: 145px;
	height: 113px;
}

.card:nth-child(1) a::before {
	background: transparent url("../img/visanty.png") no-repeat;
	background-position: center bottom;
}

.card:nth-child(2) a::before {
	background: transparent url("../img/russia.png") no-repeat;
	background-position: 0 bottom;
}

.card:nth-child(3) a::before {
	background: transparent url("../img/revolution.png") no-repeat;
	background-position: -45px bottom;
}

.card:nth-child(4) a::before {
	background: transparent url("../img/greece.png") no-repeat;
	background-position: 25px bottom;
}

.card:nth-child(5) a::before {
	background: transparent url("../img/japan.png") no-repeat;
	background-position: center bottom;
}

.card:nth-child(6) a::before {
	background: transparent url("../img/afterrefol.png") no-repeat;
	background-position: -24px bottom;
}



.card div {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	width: 160px;
	height:120px;
}

.inner-content {
	display: flex;
	
	width: 100%;
	padding-top: 60px;

	color: #000;

	background-color: #fff;
}

.wrapper {
	display: flex;

	width: 855px;
	margin: 0 auto;
}

.tile {
	position: relative;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	
	padding: 0;
	margin: 0 auto;

	list-style: none;
}

.tile li {
	width: 235px;
	margin-bottom: 67px;
}

.tile a {
	position: relative;

	display: flex;
	padding: 0 30px;
	padding-top: 50px;
	padding-bottom: 25px;
	
	font-size: 11px;
	line-height: 17px;
	text-decoration: none;
	color: #f09e46;
	text-transform: lowercase;
	letter-spacing: 1pt;

	border: solid 3px #f09e46;
}

.tile a:hover {
	background-color: #000;
}

.tile a::before {
	position: absolute;
	content: "";
	top: 25px;

	width: 20px;
	height: 20px;
	
	background-color: #000;
}

.tile .text::before {
	background: transparent url("../img/text.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.tile .music::before {
	background: transparent url("../img/music.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.tile .video::before {
	background: transparent url("../img/video.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.tile .cube::before {
	background: transparent url("../img/cube.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.page-number {
	position: absolute;
	left: -72px;
	bottom: 42px;

	display: block;
	width: 120px;
	height: 30px;
	
	font-family: 'Akzidenz-Grotesk Pro Regular';
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: lowercase;
	color: #000;

	transform: rotate(-90deg);
}

.tile-left {
	width: 545px;
	margin-right: 76px;
}

.tile-right {
	flex-direction: column;
	justify-content: space-between;

	width: 235px;
}

.tile .link-box {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 477px;
	padding-left: 29px;
	padding-top: 21px;
	padding-right: 34px;
	padding-bottom: 21px;

	border: solid 3px #f09e46;
}

.link-box a {
	width: 180px;
	height: 70px;
	padding: 7px;
	padding-top: 36px;

	text-align: bottom;

	border: 0px solid transparent;
}

.link-box a::before {
	top: 12px;
}

.tile-right .link-box {
	width: 235px;
}

/*--------------FOOTER----------------*/

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 80px;
}

.social-share {
	display: flex;

	list-style: none;
}

.social-btn {
	display: block;

	width: 20px;
	height: 16px;

	background-image: url("../img/social.png");
	background-repeat: no-repeat;
}


.social-fb {
	background-position: -21px 0; 
}

.social-tw {
	background-position: -41px 0;
}

.social-ml {
	background-position: -60px 0;
}

/*--------------MODAL--------------*/

.modal-page {
	position: fixed;
	left: 50%;
	top: 47%;

	transform: translateX(-50%) translateY(-46%);

	display: none;

	max-width: 950px;
	padding: 32px;

	background-color: #000;
}

.modal-page p {
	width: 700px;
	margin-bottom: 0;

	font-family: 'Akzidenz-Grotesk Pro Medium', sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 1pt;
	color: #fff;
}

.modal-page button {
	position: absolute;
	top: 7px;
	right: 7px;

	border: none;

	background-color: transparent;
	background-image: url("../img/closer.png");
	background-repeat: no-repeat;
	background-position: center; top
}

.show-modal {
	display: block;
	z-index: 5;
}