@font-face {
  font-family: "Akzidenz-Grotesk Pro Regular", "Arial", sans-serif;
  src: url("fonts/AkzidenzGroteskPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk Pro Medium", "Arial", sans-serif;
  src: url("fonts/AkzidenzGroteskPro-Md.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz Grotesk Pro Bold", "Arial", sans-serif;
  src: url("fonts/AkzidenzGroteskPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akzidenz-Grotesk Pro Ext XBold", "Arial", sans-serif;
  src: url("fonts/AkzidenzGroteskPro-BoldEx.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;

  color: #fff;

  background-color: #000;

  box-sizing: border-box;
}

