.page-main {
	width: 320px;
	padding: 0 20px;
	margin: 0 auto;

  border-bottom: 1px solid transparent;
}

.page-main--inner {
  width: auto;
  padding: 0 40px;
  padding-top: 63px;
  
  background-color: #fff;
  color: #000;
}