.page-header {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  min-height: 293px;

  font-family: "Akzidenz Grotesk Pro", "Arial", sans-serif;
  font-weight: 700;
  color: #fff;

  background-color: #000;
}

.page-header__wrapper {
	width: auto;
	padding: 0 20px;
	margin: 0 auto;
}

.page-header__top {
	display: flex;
	justify-content: space-between;

	width: 280px;
	padding-top: 17px;
	padding-bottom: 20px;
}

.page-header__logo {
	margin: 0 auto;
	width: 148px;
	height: 13px;
}

.page-header__search {
	display: none;
}

.page-header__bottom {
	padding-top: 112px;
}

.page-header__main-logo {
	display: block;
  width: 271px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
	.page-header {
		width: 1200px;
		min-height: 600px;
	}
	
	.page-header__top {
		width: 1200px;
		min-height: 80px;
		margin-bottom: 210px;
	}

	.page-header__logo {
		margin: 0;
	}

	.page-header__search {
		display: block;
	}

	.page-header__main-logo {
		width: 600px;
	}

	.page-header__bottom {
		padding: 0;
	}
} 